{% extends "employee/base.html" %}
{% load static %}
{% block content %}


<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Employees</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'employee:employeehome' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">Employees</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive" style="padding: 20px;"> 
                            <table class="table table-center table-hover datatable" style="padding: 20px;border-radius: 20px;">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Employee</th>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Joining Date</th>
                                        <th>Department</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for employee in all_emp %}
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="" class="avatar avatar-sm me-2"><img
                                                        class="avatar-img rounded-circle"
                                                        src="{{employee.emp_profile.url}}"
                                                        alt="User Image"></a>
                                                <a href="" style="color: #4d13aa;">{{employee.name|title}}</a>
                                            </h2>
                                        </td>
                                        <td>{{employee.phone}}</td>
                                        <td><a href="">{{employee.email}}</a></td>
                                        <td>{{employee.join_date|date:"d-m-y"}}</td>
                                        <td>{{employee.catagory.title}}</td>
                                        <td><span class="badge badge-pill bg-success-light">{{employee.status}}</span></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

