{% extends 'employee/base.html' %}
{% load static %}
{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<style>
	body {
		margin-top: 20px;
		background: #f3f3f3;
	}

	.card.user-card {
		border-top: none;
		-webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
		box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
		-webkit-transition: all 150ms linear;
		transition: all 150ms linear;
	}

	.card {
		border-radius: 5px;
		-webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
		box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
		border: none;
		margin-bottom: 30px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.card .card-header {
		background-color: transparent;
		border-bottom: none;
		padding: 25px;
	}

	.card .card-header h5 {
		margin-bottom: 0;
		color: #222;
		font-size: 14px;
		font-weight: 600;
		display: inline-block;
		margin-right: 10px;
		line-height: 1.4;
	}

	.card .card-header+.card-block,
	.card .card-header+.card-block-big {
		padding-top: 0;
	}

	.user-card .card-block {
		text-align: center;
	}

	.card .card-block {
		padding: 25px;
	}

	.user-card .card-block .user-image {
		position: relative;
		margin: 0 auto;
		display: inline-block;
		padding: 5px;
		width: 110px;
		height: 110px;
	}

	.user-card .card-block .user-image img {
		z-index: 20;
		position: absolute;
		top: 5px;
		left: 5px;
		width: 100px;
		height: 100px;
	}

	.img-radius {
		border-radius: 50%;
	}

	.f-w-600 {
		font-weight: 600;
	}

	.m-b-10 {
		margin-bottom: 10px;
	}

	.m-t-25 {
		margin-top: 25px;
	}

	.m-t-15 {
		margin-top: 15px;
	}

	.card .card-block p {
		line-height: 1.4;
	}

	.text-muted {
		color: #919aa3 !important;
	}

	.user-card .card-block .activity-leval li.active {
		background-color: #2ed8b6;
	}

	.user-card .card-block .activity-leval li {
		display: inline-block;
		width: 15%;
		height: 4px;
		margin: 0 3px;
		background-color: #ccc;
	}

	.user-card .card-block .counter-block {
		color: #fff;
	}

	.bg-c-blue {
		background: linear-gradient(45deg, #4099ff, #73b4ff);
	}

	.bg-c-green {
		background: linear-gradient(45deg, #2ed8b6, #59e0c5);
	}

	.bg-c-yellow {
		background: linear-gradient(45deg, #FFB64D, #ffcb80);
	}

	.bg-c-pink {
		background: linear-gradient(45deg, #FF5370, #ff869a);
	}

	.m-t-10 {
		margin-top: 10px;
	}

	.p-20 {
		padding: 20px;
	}

	.user-card .card-block .user-social-link i {
		font-size: 30px;
	}

	.text-facebook {
		color: #3B5997;
	}

	.text-twitter {
		color: #42C0FB;
	}

	.text-dribbble {
		color: #EC4A89;
	}

	.user-card .card-block .user-image:before {
		bottom: 0;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
	}

	.user-card .card-block .user-image:after,
	.user-card .card-block .user-image:before {
		content: "";
		width: 100%;
		height: 48%;
		border: 2px solid #4099ff;
		position: absolute;
		left: 0;
		z-index: 10;
	}

	.user-card .card-block .user-image:after {
		top: 0;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}

	.user-card .card-block .user-image:after,
	.user-card .card-block .user-image:before {
		content: "";
		width: 100%;
		height: 48%;
		border: 2px solid #4099ff;
		position: absolute;
		left: 0;
		z-index: 10;
	}

	.dash-widget .card-body .dash-widget-info {
		text-align: left;
		width: calc(100% - 70px);
	}

	@media (min-width: 1200px) {
		.col-xl-3 {
			width: 21%;
		}
	}
</style>

<!-- Page Wrapper -->
<div class="page-wrapper">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Welcome {{employeedata.name|capfirst}} !</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item active">Dashboard</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->


		<div class="row">
			<div class="col-md-8">
				<div class="row">

					<!-- Traffic light -->
					<div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
						<div class="card dash-widget" style="background: rgb(20, 85, 25);">
							<div class="card-body">
								<div class="dash-widget-info">
									<h3>112</h3>
									<!-- <span>Projects</span> -->
								</div>
								<span class="dash-widget-icon"><i class="la la-rocket"></i></span>

							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
						<div class="card dash-widget" style="background: rgb(228, 119, 18);">
							<div class="card-body">
								<div class="dash-widget-info">
									<h3>44</h3>
									<!-- <span>Clients</span> -->
								</div>
								<span class="dash-widget-icon"><i class="la la-rocket"></i></span>

							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
						<div class="card dash-widget" style="background: rgb(187, 30, 30);">
							<div class="card-body">
								<div class="dash-widget-info">
									<h3>37</h3>
									<!-- <span>Tasks</span> -->
								</div>
								<span class="dash-widget-icon"><i class="la la-rocket"></i></span>

							</div>
						</div>
					</div>
					<div class="row">
						<!-- ----- projects ----- -->
						<h5 class="dash-title">Projects </h5>
						<div class="col-md-12">
							<div class="card card-table card1">
								<div class="card-body">
									<div class="table-responsive" style="padding: 20px;">
										<table class="table table-center table-hover datatable"
											style="padding: 20px;border-radius: 20px;" id="tabledata">
											<thead class="thead-light">
												<tr>
													<th>End Date</th>
													<th>Project</th>
													
													<th>Status</th>
													<th>Completion</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>

												{% for i in listdata %}
												<tr>
													<td>
														{{i.project.endingdate}}
													</td>
													<td>
														<a href="{% url 'employee:progressreport' i.project.id   %}">{{i.project.projectname}}</a>
													</td>
													
													<td>
														<i class="las la-circle"></i>
														ongoing
													</td>
													<td>
														{{i.completion}}%
														<div class="progress progress-xs">
															<div class="progress-bar w-45" role="progressbar"
																style="width: 10%" aria-valuenow="{{i.completion}}" aria-valuemin="0"
																aria-valuemax="100">
															</div>

														</div>
													</td>
													<td>
														<a href="{% url 'employee:dailyprogress' i.project.id %}">
															<span
																class="badge badge-pill bg-success-light text-center"><i
																	class="las la-pen"></i></span>
														</a>
													</td>
												</tr>
												{% endfor %}
												
												

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- ---- /projects ----- -->
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-12 col-lg-12 col-xl-4">
				<div class="card user-card">
					<div class="card-block">
						<div class="user-image">
							<img src="{{employeedata.emp_profile.url}}" class="img-radius"
								alt="User-Profile-Image">
						</div>
						<h6 class="f-w-600 m-t-25 m-b-10">{{employeedata.name|capfirst}}</h6>
						<p class="text-muted">{{employeedata.phone}}</p>
						<p class="text-muted">Active | Male | Born {{employeedata.dob}}</p>

						<hr>
						<p class="text-muted m-t-15">Employee ID: {{employeedata.employee_id}}</p>
						<hr>
						<div class="row justify-content-center user-social-link">
							<div class="col-auto"><a href="https://api.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" style="color: green;"></i></a>
							</div>
							<div class="col-auto"><a href=""><i class="fa fa-envelope"
										style="color: rgb(248, 195, 47);"></i></a></div>
						</div>
					</div>
				</div>

				<div class="col-lg-12">
					<section>
						<h5 class="dash-title">Projects</h5>
						<div class="card">
							<div class="card-body">
								<div class="time-list">
									<div class="dash-stats-list">
										<h4>71</h4>
										<p>Total Projects</p>
									</div>
									<div class="dash-stats-list">
										<h4>14</h4>
										<p>Pending Tasks</p>
									</div>
								</div>
								<div class="request-btn">
									<a class="btn btn-primary" href="{% url 'employee:allprojects' %}">view
										Projects</a>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-lg-12">
					<section>
						<h5 class="dash-title">Your Leave</h5>
						<div class="card">
							<div class="card-body">
								<div class="time-list">
									<div class="dash-stats-list">
										<h4>4.5</h4>
										<p>Leave Taken</p>
									</div>
									<div class="dash-stats-list">
										<h4>12</h4>
										<p>Remaining</p>
									</div>
								</div>
								<div class="request-btn">
									<a class="btn btn-primary" href="{% url 'common:leaveapplication' %}">Apply Leave</a>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

</div>
<!-- /Page Wrapper -->



{% endblock %}