{% extends "employee/base.html" %}
{% load static %}
{% block content %}

<style>
    .personal-info li .title {
        font-weight: 30;
        width: 32%;
    }
    .text{
        font-size: 50;
    }
    .col {
        flex: 1 0 0%;
    }
    .col-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .btn-primary {
        background-color: #6f44cc;
        border: 1px solid #6f44cc;
    }
    .btn-primary {
        color: #fff;
    }
    .btn {
        display: inline-block;
        font-weight: 100;
        line-height: 1;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        padding: 0.395rem 0.7rem;
        font-size: 1rem;
        border-radius: 0.25rem;
    }
</style>



<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Projects Name</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'employee:employeehome' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">Projects</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="card" style="border-radius: 20px ;">
                        <div class="card-header">
                            <h4 class="card-title mb-0">{{ projectdetails.projectname }}</h4>
                        </div>
                        <div class="card-body">
                            <p style="color: grey;">
                                {{ projectdetails.enquiry.details }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row   overflow-auto">
                    <div class="card" style="border-radius: 20px ;">
                        <div class="card-header">
                            <h4 class="card-title">Notes</h4>
                            <div class="text-end">
                                <a href="{% url 'employee:dailyprogress' projectdetails.id %}">
                                    <span
                                        class="badge badge-pill bg-success-light text-center"><i
                                            class="las la-pen"></i></span>
                                </a>
                            </div>
                           
                        </div>
                       

                       
                        <div class="card-body card-body-height" style="color: grey;">
                            {% comment %} {% for daily in daily_report %}
                            <p>{{daily.date}}</p>
                            <p>{{daily.status}}</p>
                            <p>{{daily.note}}</p>
                            {% endfor %} {% endcomment %}
                            
                            {% regroup daily_report by date as date_filter %}
                            {% for daily in date_filter %}
                            
                            <p style="color:black;"><b><u>{{daily.grouper}}</u></b></p>
                                {% for st in daily.list %}
                                    <p><b>
                                        {{st.status}} ({{st.employee__name}}): </b>
                                        {{st.note}}</p>
                                {% endfor %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="card" style="border-radius: 20px ;">
                    <div class="card-body text-center">
                        <img class="rounded-circle z-depth-2 mt-3" alt="100x100"
                            src="{% static 'ceo/img/profiles/avatar-21.jpg' %}" height="100px" width="100px"
                            data-holder-rendered="true">
                        <h4 class="text-uppercase mt-3" style="color: navy;">{{ projectdetails.projectname }}</h4>
                        <p class="text-uppercase mt-2" style="color: rgb(126, 126, 128);"> {{ projectdetails.client.name }}</p>
                    </div>
                </div>

                <div class="card" style="border-radius: 20px ;">
                    <div class="card-body">
                        <h5 class="text-uppercase">Work Progress</h5>
                        <div>
                            <p>{{ projectstatus.completion }}%</p>
                            <div class="progress progress-md">
                                <div class="progress-bar w-45" role="progressbar"
                                    style="width: {{projectstatus.completion}}%" aria-valuenow="{{projectstatus.completion}}"
                                    aria-valuemin="0" aria-valuemax="100">
                                </div>

                            </div>
                            <!-- <div class="progress progress-md">
                                <div class="progress-bar" role="progressbar" style="width:{{projectstatus.completion}}%" aria-valuenow="{{ projectstatus.completion }}"
                                    aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="card" style="border-radius: 20px ;">
                    <div class="card-header">
                        <div class="col">
                            <h4 class="card-title text-start">Project Details</h4>
                        </div>
                        <!-- <div class="col-auto text-end">
                            <a href="" class="btn btn-primary">
                                <i class="las la-pen-nib"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="card-body">
                        <ul class="personal-info">
                            <li>
                                <div class="title text-uppercase">Project Name</div>
                                <div class="text text-uppercase">{{ projectdetails.projectname }}</div>
                            </li>
                            <!-- <li>
                                <div class="title text-uppercase">Project Status</div>
                                <div class="text text-uppercase">{{ projectdetails.status }}</div>
                            </li> -->
                            <li>
                                <div class="title"> DEPARTMENT</div>
                                <div class="text">{{ projectdetails.projecttype }}</div>
                            </li>
                            <li>
                                <div class="title">CLIENT</div>
                                <div class="text"> {{ projectdetails.client.name }}</div>
                            </li>
                          
                            <!-- <li>
                                <div class="title">DEAL DATE</div>
                                <div class="text">JUNE 16, 2022</div>
                            </li> -->
                            <li>
                                <div class="title">STATUS</div>
                                <div class="text">{{ projectstatus.status }}</div>
                            </li>
                            <li>
                                <div class="title">START DATE</div>
                                <div class="text">{{ projectdetails.starteddate }}</div>
                            </li>
                            <li>
                                <div class="title">END DATE</div>
                                <div class="text">{{ projectdetails.endingdate }}</div>
                            </li>
                            <li>
                                <div class="title">PROJECT LINK</div>
                                <div class="text">{{ projectstatus.url_project }}</div>
                            </li>
                            <li>
                                <div class="title">USERNAME</div>
                                <div class="text">{{ projectstatus.username }}</div>
                            </li>
                            <li>
                                <div class="title">PASSWORD</div>
                                <div class="text">{{ projectstatus.password }}</div>
                            </li>
                            <li>
                                <div class="title">LEAD</div>
                                <div class="text">
                                    
                                    <span  onclick="DataGet({{ projectstatus.member.lead.id }})" class="m-t-10" class="btn add-btn" data-bs-toggle="modal"
                                    data-bs-target="#add_client">{{ projectstatus.member.lead.name }}</span>
                                </div>
                            </li>
                            <li>
                                <div class="title">MEMBERS</div>
                                <div class="text">
                                    <ul>
                                        {% for i in members %}
                                        <li onclick="DataGet({{ i.team__id }})" class="m-t-10" class="btn add-btn" data-bs-toggle="modal"
                                        data-bs-target="#add_client">{{ i.team__name }}</li>
                                        {% endfor %}
                                    </ul>
                                   
                                  
                                  
                                </div>
                                <!-- {% for i in members %}
                                {{ i.team__name }}
                                {% endfor %} -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Employee profile modal -->
<div id="add_client" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="card mb-0">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<div class="profile-view">
									<div class="profile-img-wrap">
										<div class="profile-img">
											<a id="div" href="">
												<img id="profileimg" src="{% static 'ceo/img/profiles/avatar-19.jpg' %}" alt="">
											</a>
										</div>
									</div>
									<div class="profile-basic">
										<div class="row">
											<div class="col-md-5">
												<div class="profile-info-left">
													<h3 class="user-name m-t-0" id="name">Syamjith Babu</h3>
													<small class="text-muted" id="catagory">CEO</small>
													<div class="staff-id">Employee ID : <span id="employee_id"></span> </div>
												</div>
											</div>
											<div class="col-md-7">
												<ul class="personal-info">
													<!-- <li>
														<span class="title">Phone:</span>
														<span class="text"><a href="">9876543210</a></span>
													</li> -->
													<li>
														<span class="title">Email:</span>
														<span class="text" id="email">barrycuda@example.com</span>
													</li>
													<li>
														<span class="title">Birthday:</span>
														<span class="text" id="dob">2nd August</span>
													</li>
													<li>
														<span class="title">Address:</span>
														<span class="text" id="address"></span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

			</div>
		</div>
	</div>
</div>


<script>
    function DataGet(id){
        $.ajax({
            url: "/employee/getprofiledata/" + id,
            type: 'GET',
            
            success: function (responce) {

                $('#name').html(responce.value.name)
                $('#catagory').html(responce.value.catagory)
                $('#employee_id').html(responce.value.employee_id)
                $('#email').html(responce.value.email)
                $('#dob').html(responce.value.dob)
                $('#address').html(responce.value.address)
                $('#profileimg').attr("src",responce.value.emp_profile)
               

                
            }

        })
    }
</script>

{% endblock %}