{% extends "employee/base.html" %}
{% load static %}
{% block content %}

<style>
    .card1 {
        border-radius: 20px;
    }
</style>

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Projects</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'employee:employeehome' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">Projects</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Count cards -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{project_count}}</h3>
                            <span>Total Projects</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
                        <div class="dash-widget-info">
                            <h3>44</h3>
                            <span>Completed Project</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
                        <div class="dash-widget-info">
                            <h3>37</h3>
                            <span>Pendings</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                        <div class="dash-widget-info">
                            <h3>218</h3>
                            <span>Rework</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Count Cards -->

        <!-- -----Task----- -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table card1">
                    <div class="card-header">
                        <h4 class="card-title mb-0">All Projects</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="padding: 20px;">
                            <table class="table table-center table-hover " style="padding: 20px;border-radius: 20px;">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Sl.No</th>
                                        <th>Project Name</th>
                                        <th>Status</th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in allproject %}
                                    <tr>
                                        <td>{{forloop.counter }}</td>
                                        <td>
                                            <h2 class="table-avatar">

                                                <a href="{% url 'employee:detailview' i.project.id %}"
                                                    style="color: #4d13aa;">{{i.project.projectname}}</a>
                                            </h2>
                                        </td>
                                        <td>{% if i.status == 'On Going' %} <span class="badge badge-pill bg-success-light">{{ i.status}}</span> {% elif i.status == 'On Scheduling' %} <span class="badge bg-danger-light">{{ i.status }}</span> {% elif i.status == 'Completed' %} <span class="badge bg-danger">{{ i.status }}</span> {% elif i.status == 'Not Started' %}<span class="badge bg-info">{{ i.status }}</span> {% elif i.status == 'W4C' %} <span class="badge bg-secondary">{{ i.status }}</span> {% elif i.status == 'Delayed' %} <span class="badge bg-warning-light">{{ i.status }}</span> {% elif i.status == 'Qc' %} <span class="badge bg-primary-light">{{i.status }}</span> {% elif i.status == 'Rework' %} <span class="badge bg-info-light">{{ i.status }}</span> {% endif %}

                                        
                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -----/Task----- -->

        <!-- ----- projects ----- -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table card1">
                    <div class="card-header">
                        <h4>Projects</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="padding: 20px;">
                            <table class="table table-center table-hover datatable"
                                style="padding: 20px;border-radius: 20px;">
                                <thead class="thead-light">
                                    <tr>
                                        <th>End Date</th>
                                        <th>Project</th>
                                        <th>Added Date</th>
                                        <th>Status</th>
                                        <th>Completion</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in ongoing %}
                                    <tr>
                                        <td>
                                            {{p.project.starteddate|date:"d-m-y"}}
                                        </td>
                                        <td>
                                            <a href="" style="color: #4d13aa;">{{p.project.projectname|upper}}</a>
                                        </td>
                                        <td>{{p.project.endingdate|date:"d-m-y"}}</td>
                                        <td>
                                            <span class="badge badge-pill bg-success-light">
                                                {{p.status}}
                                            </span>
                                        </td>
                                        <td>
                                            {{p.completion}} %
                                            <div class="progress progress-xs">
                                                <div class="progress-bar w-75" role="progressbar"
                                                    style="width: {{p.status}}%" aria-valuenow="75" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                </div>

                                            </div>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---- /projects ----- -->


        <!-- ----- Completed projects ----- -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table card1">
                    <div class="card-header">
                        <h4>Completed Projects</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="padding: 20px;">
                            <table class="table table-center table-hover datatable"
                                style="padding: 20px;border-radius: 20px;">
                                <thead class="thead-light">
                                    <tr>
                                        <th>End Date</th>
                                        <th>Project</th>
                                        <th>Added Date</th>
                                        <th>Status</th>
                                        <th>Completion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for q in qc_projects %}
                                    <tr>
                                        <td>
                                            {{q.project.starteddate|date:"d-m-y"}}
                                        </td>
                                        <td>
                                            <a href="" style="color: #4d13aa;">{{q.project.projectname|upper}}</a>
                                        </td>
                                        <td>{{q.project.endingdate|date:"d-m-y"}}</td>
                                        <td class="">
                                            <span class="badge badge-pill bg-success-light">
                                                {{q.status}}
                                            </span>
                                        </td>
                                        <td>
                                            {{q.completion}} %
                                            <div class="progress progress-xs">
                                                <div class="progress-bar w-75" role="progressbar"
                                                    style="width: {{q.completion}}%" aria-valuenow="" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                </div>

                                            </div>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---- /Completed projects ----- -->

        <!-- ---Note--- -->
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>

        <!-- ---/Note--- -->
    </div>
</div>


{% endblock %}