{% extends "employee/base.html" %}
{% load static %}
{% block content %}


<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Rework Projects</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'employee:employeehome' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Rework Projects</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!--   rework   -->
        <div class="col-md-12">
            <div class="card card-table card1">
                <div class="card-body">
                    <div class="table-responsive" style="padding: 20px;">
                        <table class="table table-center table-hover datatable"
                            style="padding: 20px;border-radius: 20px;">
                            <thead class="thead-light">
                                <tr>
                                    
                                    <th>Sl.No</th>
                                    <th>Project</th>
                                    <th>Note</th>
                                    
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>


                                {% for i in reworklist %}
                                <tr>
                                    <td>
                                       {{forloop.counter}}
                                    </td>
                                    <td>
                                        {{i.project.project.projectname}}
                                    </td>
                                    <td>
                                        <p>{{i.note}}</p>
                                    </td>
                                   
                                    <td>
                                        <a onclick="Change_Status('{{ i.id }}')">
                                            <span class=" badge-pill btn bg-success-light text-center">
                                                Seen</span>
                                        </a>
                                    </td>
                                </tr>

                                {% endfor %}


                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--  /rework  -->

    </div>
</div>




<script>
    function Change_Status(id){
        $.ajax({
            url: "/employee/Reworkstatus",
            type: 'POST',
            data: {
                'EnquaryID': id,

            },

            success: function (responce) {

               
                window.location.reload()
            }

        })



    }
</script>
{% endblock %}