{% extends "crm/base.html" %}
{% load static %}
{% block content %}

<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">


        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Daily Report</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Daily Report</li>
                    </ul>
                </div>
                <!-- <div class="col-auto">
                    <a href="#" class="btn btn-primary">PDF</a>
                </div> -->
            </div>
        </div>
        <!-- /Page Header -->
        <form action="" method="post">
            <div class="row filter-row">

                {% csrf_token %}
                <div class="col-sm-6 col-md-3">
                    <div class="form-group form-focus">
                        <select class="form-control" name="epk">
                            {% for e in employees %}
                            <option class="form-control"  value="{{e.id}}">{{e.name}} {{e.employee_id}}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    {% if status == 1 %}
                        <p style="color: red;"> Please check Attantance In that Date Not Added</p>
                        {% endif %}
                </div>


                <div class="col-sm-6 col-md-3">
                    <button type="submit" class="btn btn-success w-100">Search</button>

                </div>

            </div>
        </form>
        <!-- Content Starts -->
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th>Sl.no</th>
                                <th>Employee</th>
                                <th>Applied Date</th>
                                <th>Excuse Date</th>
                                <th>Time</th>
                                <th>Reason</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for i in excuses %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="" class="avatar"><img alt="" src="{{i.employee.emp_profile.url}}"></a>
                                        <a>{{i.employee.name}} <span>#{{i.employee.employee_id}}</span></a>
                                    </h2>
                                </td>
                                <td>{{i.aply_date}}</td>
                                <td>{{i.from_date}}</td>
                                <td>{{i.time}}</td>
                                <td class="text-center">
                                   {{i.reason}}
                                </td>
                                <td class="text-center">
                                    {{i.status}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- /Content End -->

    </div>
    <!-- /Page Content -->

</div>


{% endblock %}