{% load static %}

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li {% if is_home %} class="active" {% endif %}>
                    <a href="{% url 'employee:employeehome' %}"><i class="la la-dashboard"></i> <span> Profile</span></a>
                </li>
                <li {% if is_allprojects %} class="active" {% endif %}>
                    <a href="{% url 'employee:allprojects' %}"><i class="la la-rocket"></i> <span> Projects</span></a>
                </li>
                <li {% if is_rework %} class="active" {% endif %}>
                    <a href="{% url 'employee:emprework' %}"><i class="la la-certificate"></i> <span> Rework</span></a>
                </li>

                <li {% if is_task %} class="active" {% endif %}>
                    <a href="{% url 'employee:emptask' %}"><i class="la la-tasks"></i> <span> Task</span></a>
                </li>
                <li {% if is_team %} class="active" {% endif %}>
                    <a href="{% url 'employee:empteam' %}"><i class="la la-users-cog"></i> <span> Team</span></a>
                </li>
                <li {% if is_homework %} class="active" {% endif %}>
                    <a href="{% url 'employee:emphomework' %}"><i class="la la-desktop"></i> <span> Home Work</span></a>
                </li>
                <li>
                    <a href=""><i class="la la-certificate"></i> <span> Course</span></a>
                </li>
                
                <li class="menu-title">
                    <span>Projects</span>
                </li>
                <li {% if is_meeting %} class="active" {% endif %}>
                    <a href="{% url 'employee:meetings' %}"><i class="la la-dashboard"></i> <span> Meeting LIst</span></a>
                </li>
                <li {% if is_srs %} class="active" {% endif %}>
                    <a href="{% url 'employee:projectsrs' %}"><i class="la la-tasks"></i> <span> SRS</span></a>
                </li>



                <li class="menu-title">
                    <span>Employees</span>
                </li>
                <li class="submenu" 
                    {% if is_employee %} class="active" {% endif %}
                    {% if is_department %} class="active" {% endif %}
                    {% if is_timeline %} class="active" {% endif %} >
                    <a href="#"><i class="la la-user"></i> 
                        <span> Employees</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li {% if is_employee %} class="active" {% endif %}>
                            <a href="{% url 'employee:allemployees' %}">All Employees</a>
                        </li>
                        <li {% if is_department %} class="active" {% endif %}>
                            <a href="{% url 'employee:department' %}">Department</a>
                        </li>
                        <li {% if is_timeline %} class="active" {% endif %}>
                            <a href="{% url 'employee:emptimeline' %}">TimeLine</a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-user"></i> <span> Leave</span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="">Leaves</a></li>
                        <li><a href="{% url 'employee:leaveapplication' %}">Leave Form</a></li>
                        <li><a href="">Excuse Form</a></li>
                    </ul>
                </li>
                <li {% if is_attendance %} class="active" {% endif %}>
                    <a href="{% url 'employee:empattendance' %}"><i class="la la-dashboard"></i> <span> Attendance</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->