{% load static %} 

<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li {% if is_home %} class="active" {% endif %}>
								<a href="{% url 'crm:crmhome' %}"><i class="la la-dashboard"></i> <span> Dashboard</span> </a>
								
							</li>
                            <li {% if is_enquiryList %} class="active" {% endif %}> 
								<a href="{% url 'crm:enquirylist' %}"><i class="la la-edit"></i> <span>Enquiry</span></a>
							</li>
							<!-- <li  {% if is_enquiry %} class="active" {% endif %}> 
								<a href="{% url 'crm:graphicenquiry' %}"><i class="la la-plus"></i> <span>Create Proposal</span></a>
							</li> -->
							<li  {% if is_proposal %} class="active" {% endif %}> 
								<a href="{% url 'crm:proposal' %}"><i class="la la-tasks"></i> <span>Client Approvel List</span></a>
							</li>
							<li {% if is_unassigneproject %} class="active" {% endif %}> 
								<a href="{% url 'crm:unassigneproject' %}"><i class="la la-rocket"></i> <span>Un Assigneproject</span></a>
							</li>
							<li {% if is_meetinglist %} class="active" {% endif %}> 
								<a href="{% url 'crm:meetinglist' %}"><i class="la la-rocket"></i> <span>Meeting Approved</span></a>
							</li>
							<li {% if is_dailyprogress %} class="active" {% endif %}> 
								<a href="{% url 'crm:dailyprogress' %}"><i class="la la-pie-chart"></i> <span>Daily Progress Report</span></a>
							</li>
                            <li {% if is_clientList %} class="active" {% endif %}> 
								<a href="{% url 'crm:clientlist' %}"><i class="la la-users"></i> <span>Clients</span></a>
							</li>
                            {% comment %} <li {% if is_projectList %} class="active" {% endif %} >
								<a href="{% url 'crm:projectlist' %}"><i class="la la-rocket"></i> <span> Projects</span></a>
								
							</li> {% endcomment %}
                            <li {% if is_followUpList %} class="active" {% endif %}> 
								<a href="{% url 'crm:followuplist' %}"><i class="la la-sync"></i><span>Follow up List</span></a>
							</li>
                            <li {% if is_feedBack %} class="active" {% endif %}> 
								<a href="{% url 'crm:feedback' %}"><i class="la la-comment-dots"></i> <span>Feed back</span></a>
							</li>
							<li {% if is_leaverequest %} class="active" {% endif %}> 
								<a href="{% url 'crm:leaverequest' %}"><i class="las la-bell"></i><span>Leave Request</span></a>
							</li>
							<li class="submenu">
								<a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<!-- <li><a href="">All Employees</a></li>
									<li><a href="">Leaves </a></li>
									<li><a href="">Leave Settings</a></li>
									<li><a href="">Attendance</a></li> -->
									<li {% if is_attantanceList %} class="active" {% endif %}> 
										<a href="{% url 'crm:attantancelist' %}">Add Attantance</a>
									</li>
									<li {% if is_attantanceReport %} class="active" {% endif %} > 
										<a href="{% url 'crm:attantancereport' %}">Attendance Report</a>
									</li>
									<li {% if is_attantanceReport %} class="active" {% endif %} > 
										<a href="{% url 'crm:leavereport' %}">Leave Report</a>
									</li>
									<li {% if is_allstaff %} class="active" {% endif %}><a href="{% url 'crm:allstaff' %}">All Staffs</a></li>
									<li {% if is_departmentwise %} class="active" {% endif %}><a href="{% url 'crm:departmentwise' %}">Departments</a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>More</span>
							</li>
							<li {% if is_settings %} class="active" {% endif %}> 
								<a href="{% url 'common:settings' %}"><i class="la la-cog"></i> <span>Settings</span></a>
							</li>
							<li {% if is_settings %} class="active" {% endif %}> 
								<a href="{% url 'common:excuse' %}"><i class="las la-clock"></i> <span>Excuse Form</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-user"></i> <span> Leave</span> <span
										class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'common:leaves' %}">Leaves</a></li>
									<li><a href="{% url 'common:leaveapplication' %}">Leave Form</a></li>
								</ul>
							</li>																														
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->