{% load static %} 

<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li {% if is_home %} class="active" {% endif %}>
								<a href="{% url 'crm:crmhome' %}"><i class="la la-dashboard"></i> <span> Dashboard</span> </a>
								
							</li>
                            <li {% if is_enquiryList %} class="active" {% endif %}> 
								<a href="{% url 'crm:enquirylist' %}"><i class="la la-edit"></i> <span>Enquiry</span></a>
							</li>
                            <li {% if is_clientList %} class="active" {% endif %}> 
								<a href="{% url 'crm:clientlist' %}"><i class="la la-users"></i> <span>Clients</span></a>
							</li>
                            <li {% if is_projectList %} class="active" {% endif %} >
								<a href="{% url 'crm:projectlist' %}"><i class="la la-rocket"></i> <span> Projects</span></a>
								
							</li>
                            <li {% if is_followUpList %} class="active" {% endif %}> 
								<a href="{% url 'crm:followuplist' %}"><i class="la la-sync"></i><span>Follow up List</span></a>
							</li>
                            <li {% if is_feedBack %} class="active" {% endif %}> 
								<a href="{% url 'crm:feedback' %}"><i class="la la-comment-dots"></i> <span>Feed back</span></a>
							</li>
                            <li class="menu-title"> 
								<span>More</span>
							</li>
                            <li {% if is_leaves %} class="active" {% endif %} > 
								<a href="{% url 'crm:leaves' %}"><i class="la la-sign-out-alt"></i> <span>Leaves</span></a>
							</li>
                            <li {% if is_attantance %} class="active" {% endif %}> 
								<a href="{% url 'crm:attantance' %}"><i class="la la-calendar-check"></i> <span>Attendance</span></a>
							</li>
                            <li {% if is_settings %} class="active" {% endif %}> 
								<a href="{% url 'crm:settings' %}"><i class="la la-cog"></i> <span>Settings</span></a>
							</li>																															
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->