{% extends "common/partials/base.html" %}
{% load static %}
{% block content %}



<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Employee</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Employee</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->



        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <!-- <h6 class="card-title">Bottom line tabs</h6> -->
                        <ul class="nav nav-tabs nav-tabs-bottom">
                            <li class="nav-item"><a class="nav-link active" href="#bottom-tab1"
                                    data-bs-toggle="tab">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-bs-toggle="tab">Change
                                    Password</a></li>
                        </ul>

                        <div class="tab-content col-md-12">

                            <div class="tab-pane show active" id="bottom-tab1">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{empform.name.label}}
                                                {{empform.name}} 
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{empform.employee_id.label}} 
                                                {{empform.employee_id}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{empform.catagory.label}} 
                                                {{empform.catagory}}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                            <div class="form-group">
                                                {{empform.phone.label}}
                                                {{empform.phone}}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                            <div class="form-group">
                                                {{empform.email.label}}
                                                {{empform.email}}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                            <div class="form-group">
                                                {{empform.dob.label}}
                                                {{empform.dob}}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-3">
                                            <div class="form-group">
                                                {{empform.whatsapp_number.label}}
                                                {{empform.whatsapp_number}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{empform.join_date.label}}
                                                {{empform.join_date}}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{empform.address.label}}
                                                {{empform.address}}
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{empform.district.label}}
                                                {{empform.district}}
                                                <!-- <label>Mobile Number</label>
                                                <input class="form-control" value="818-635-5579" type="text"> -->
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{empform.state.label}}
                                                {{empform.state}}
                                                <!-- <label>Fax</label>
                                                <input class="form-control" value="818-978-7102" type="text"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{empform.nationality.label}}
                                                {{empform.nationality}}
                                                <!-- <label>Website Url</label>
                                                <input class="form-control" value="https://www.example.com" type="text"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{empform.marital_status.label}}
                                                {{empform.marital_status}}
                                                <!-- <label>Website Url</label>
                                                <input class="form-control" value="https://www.example.com" type="text"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{empform.emp_profile.label}}
                                                {{empform.emp_profile.url}}
                                                <!-- <label>Website Url</label>
                                                <input class="form-control" value="https://www.example.com" type="text"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{empform.username.label}}
                                                {{empform.username}}
                                                <!-- <label>Website Url</label>
                                                <input class="form-control" value="https://www.example.com" type="text"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{empform.password.label}}
                                                {{empform.password}}
                                                <!-- <label>Website Url</label>
                                                <input class="form-control" value="https://www.example.com" type="text"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{empcontactform.emergency_number.label}}
                                                {{empcontactform.emergency_number}}
                                                <!-- <label>Website Url</label>
                                                <input class="form-control" value="https://www.example.com" type="text"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{empcontactform.primarycontact_name.label}}
                                                {{empcontactform.primarycontact_name}}
                                                <!-- <label>Website Url</label>
                                                <input class="form-control" value="https://www.example.com" type="text"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{empcontactform.nationality.label}}
                                                {{empcontactform.nationality}}
                                                <!-- <label>Website Url</label>
                                                <input class="form-control" value="https://www.example.com" type="text"> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{empcontactform.relation.label}}
                                                {{empcontactform.relation}}
                                                <!-- <label>Website Url</label>
                                                <input class="form-control" value="https://www.example.com" type="text"> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn">Save</button>
                                    </div>
                                </form>
                            </div>




                            <div class="tab-pane" id="bottom-tab2">
                                <form>
                                    <div class="form-group">
                                        <label>Old password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>New password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn">Update Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}