{% extends 'clients/partials/base.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome Shilpa</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            {% for i in viewsrs %}
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><a href="{{ i.srsfile.url}}"><i class="fa fa-download"></i></a> </span>
                        <div class="dash-widget-info">
                            <h3>Download SRS</h3>
                            <span>{{ i.project.projectname }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
           
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                <a href="{% url 'clients:payment' %}">

                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa fa-download"></i></span>
                            <div class="dash-widget-info">
                                <h3>View Payment</h3>
                                <span>Onflap</span>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>

        <div class="row">
           
            <div class="col-lg-12 ">
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h3 class="card-title mb-0">Project Status</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                    <tr>
                                        <th>Project Name </th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th class="text-end">Progress</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                {% for i in projectdetails %}

                                <tr>
                                     
                                    <td>{{ i.project.projectname }}
                                        <small class="block text-ellipsis">
                                            <span class="text-muted">{{ i.url_project }} </span>
                                        </small>
                                    </td>
                                    <td>{{ i.username }}</td>
                                    <td>{{ i.password }}</td>
                                   
                                   
                                    <td>
                                        <div class="progress progress-xs progress-striped">
                                            <div class="progress-bar" role="progressbar" data-bs-toggle="tooltip" title=" {{ i.completion }}%" style="width:  {{ i.completion }}%"></div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                  
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="card-footer">
                        <a href="{% url 'pm:enquiry' %}">View all Enquiries</a>
                    </div> -->
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-view">
                                    <!-- <div class="profile-img-wrap">
                                        <div class="profile-img">
                                            <a href="#"><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                                        </div>
                                    </div> -->
                                    
                                    
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <!-- <div class="profile-info-left"> -->
                                                    <h3 class="user-name m-t-0 mb-0">New Updations</h3>
                                                    <!-- <h3 class="user-name m-t-0 mb-0">John Doe</h3>
                                                    <h6 class="text-muted">UI/UX Design Team</h6>
                                                    <small class="text-muted">Web Designer</small>
                                                    <div class="staff-id">Employee ID : FT-0001</div>
                                                    <div class="small doj text-muted">Date of Join : 1st Jan 2013</div>
                                                    <div class="staff-msg"><a class="btn btn-custom" href="chat.html">Send Message</a></div> -->
                                                    <form method="post" action="{% url 'clients:updation' %}" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                        <div class="form-group">
                                                            <label>Note <span class="text-danger">*</span></label>
                                                            <textarea name="updation" class="form-control" rows="6"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Upload File<span class="text-danger">*</span></label>
                                                           <input type="file" name="upload" class="form-control" id="">
                                                        </div>
                                                        
                                                        <input type="hidden" value="{{project}}" name="projectid" id="">
                                                        <div class="submit-section">
                                                            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                                                        </div>
                                                    </form>
                                                <!-- </div> -->
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <h3 class="user-name m-t-0 mb-0">Feed Back Section</h3>
                                                <form>
                       
                                                    <div class="form-group">
                                                        <label>Note <span class="text-danger">*</span></label>
                                                        <textarea class="form-control" rows="6"></textarea>
                                                    </div>
                                                    
                                                    
                                                    <div class="submit-section">
                                                        <button class="btn btn-primary submit-btn">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <!-- /Page Content -->

</div>



{% endblock %}