{% extends 'ceo/partials/base.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper">
			
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Projects</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Projects</li>
                    </ul>
                </div>
                
            </div>
        </div>
        <!-- /Page Header -->
        
     
        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Updated Time</th>
                                <th>Updated By</th>
                                <th>Status</th>
                            
                                <!-- <th>Deadline</th> -->
                                <!-- <th class="text-end">Priority</th> -->
                             
                              
                            </tr>
                        </thead>
                       <tbody>


                        {% for i in projectlists %}

                        <tr>
                            <td>
                                <a href="">{{i.project.projectname}}</a>
                            </td>
                            <td>{{i.status}}</td>
                            <td>{{ i.employee.name }}</td>
                            <td>
                               <ul class="team-members">
                                {% if i.checked == False %}
                                <li>
                                    <a href="#" class="btn btn-danger " data-bs-toggle="tooltip" title="Not checked"></a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="#" class="btn btn-success " data-bs-toggle="tooltip" title="Checked"></a>
                                </li>
							   {% endif %}
                                   
                                   
                                </ul>
                            </td>
                           
                          
                            <!-- <td>
                                <div class="dropdown action-label">
                                    <a href="" class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-dot-circle-o text-danger"></i> High </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> High</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-warning"></i> Medium</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-success"></i> Low</a>
                                    </div>
                                </div>
                            </td> -->
                           
                           
                        </tr>
                        {% endfor %}
                        
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
    
    
</div>
{% endblock %}