{% extends 'ceo/partials/base.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title"> {{employedetails.name}}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                        <div class="dash-widget-info">
                            <h3>218</h3>
                            <span>On Seheduled </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                        <div class="dash-widget-info">
                            <h3>112</h3>
                            <span>Just Started</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
                        <div class="dash-widget-info">
                            <h3>44</h3>
                            <span>Ongoing</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
                        <div class="dash-widget-info">
                            <h3>37</h3>
                            <span>Delayed</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                        <div class="dash-widget-info">
                            <h3>218</h3>
                            <span>W4QC </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                        <div class="dash-widget-info">
                            <h3>218</h3>
                            <span>W4C </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                        <div class="dash-widget-info">
                            <h3>218</h3>
                            <span>Completed </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                        <div class="dash-widget-info">
                            <h3>218</h3>
                            <span>Task </span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="card mb-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-view">
                            <div class="profile-img-wrap">
                                <div class="profile-img">
                                    <a href="#"><img alt="" src="{{employedetails.emp_profile.url}}"></a>
                                </div>
                            </div>
                            <div class="profile-basic">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="profile-info-left">
                                            <h3 class="user-name m-t-0 mb-0">{{employedetails.name}}</h3>
                                            <!-- <h6 class="text-muted">{{employedetails.catagory.title}}</h6> -->
                                            <small class="text-muted">{{employedetails.catagory.title}}</small>
                                            <div class="staff-id">Employee ID : {{employedetails.employee_id}}</div>
                                            <div class="small doj text-muted">Date of Join :{{employedetails.join_date}}</div>
                                            <!-- <div class="staff-msg"><a class="btn btn-custom" href="chat.html">Send
                                                    Message</a></div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <ul class="personal-info">
                                            <li>
                                                <div class="title">Phone:</div>
                                                <div class="text"><a href="">{{employedetails.phone}}</a></div>
                                            </li>
                                            <li>
                                                <div class="title">Email:</div>
                                                <div class="text"><a href="">{{employedetails.email}}</a></div>
                                            </li>
                                            <li>
                                                <div class="title">Birthday:</div>
                                                <div class="text">{{employedetails.dob}}</div>
                                            </li>
                                            <li>
                                                <div class="title">Address:</div>
                                                <div class="text">{{employedetails.address}}</div>
                                            </li>
                                            <!-- <li>
                                                <div class="title">Gender:</div>
                                                <div class="text">Male</div>
                                            </li> -->
                                            <!-- <li>
                                                <div class="title">Reports to:</div>
                                                <div class="text">
                                                    <div class="avatar-box">
                                                        <div class="avatar avatar-xs">
                                                            <img src="{% static 'ceo/img/profiles/avatar-16.jpg' %}" alt="">
                                                        </div>
                                                    </div>
                                                    <a href="profile.html">
                                                        Jeffery Lalor
                                                    </a>
                                                </div>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card tab-box">
            <div class="row user-tabs">
                <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
                    <ul class="nav nav-tabs nav-tabs-bottom">
                        <li class="nav-item"><a href="#emp_profile" data-bs-toggle="tab"
                                class="nav-link active">Profile</a></li>
                        <li class="nav-item"><a href="#emp_projects" data-bs-toggle="tab" class="nav-link">Projects</a>
                        </li>
                        <!-- <li class="nav-item"><a href="#bank_statutory" data-bs-toggle="tab" class="nav-link">Bank &
                                Statutory <small class="text-danger">(Admin
                                    Only)</small></a></li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content">

            <!-- Profile Info Tab -->
            <div id="emp_profile" class="pro-overview tab-pane fade show active">
                <div class="row">
                  
                    <div class="col-md-6 d-flex">
                        <div class="card profile-box flex-fill">
                            <div class="card-body">
                               
                                <h5 class="section-title">Primary Contact</h5>
                                <ul class="personal-info">
                                    <li>
                                        <div class="title">Name</div>
                                        <div class="text">{{primarycontact.primarycontact_name}}</div>
                                    </li>
                                    <li>
                                        <div class="title">Relationship</div>
                                        <div class="text">{{primarycontact.relation}}</div>
                                    </li>
                                    <li>
                                        <div class="title">Phone </div>
                                        <div class="text">{{primarycontact.emergency_number}}</div>
                                    </li>
                                </ul>
                                <hr>
                                <!-- <h5 class="section-title">Secondary</h5>
                                <ul class="personal-info">
                                    <li>
                                        <div class="title">Name</div>
                                        <div class="text">Karen Wills</div>
                                    </li>
                                    <li>
                                        <div class="title">Relationship</div>
                                        <div class="text">Brother</div>
                                    </li>
                                    <li>
                                        <div class="title">Phone </div>
                                        <div class="text">9876543210, 9876543210</div>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <!-- /Profile Info Tab -->

            <!-- Projects Tab -->
            <div class="tab-pane fade" id="emp_projects">
                <div class="row">
                    {% for i in proemployee %}
                    <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                
                                <h4 class="project-title"><a >{{i.project.projectname}}</a></h4>
                                <small class="block text-ellipsis m-b-15">
                                     <span class="text-muted">{{i.project.client}}</span>
                                     <span class="text-muted">{{i.project.projecttype}}</span>
                                </small>
                                <div class="pro-deadline m-b-15">
                                    <div class="sub-title">
                                        Started Date:
                                    </div>
                                    <div class="text-muted">
                                        {{i.project.starteddate.date}}
                                    </div>
                                </div>
                                <div class="pro-deadline m-b-15">
                                    <div class="sub-title">
                                        Deadline:
                                    </div>
                                    <div class="text-muted">
                                        {{i.project.endingdate.date}}
                                    </div>
                                </div>
                                <div class="pro-deadline m-b-15">
                                    <div class="sub-title">
                                       Status
                                    </div>
                                    <div class="text-muted">
                                        {{i.status}}
                                    </div>
                                </div>
                                <div class="pro-deadline m-b-15">
                                    <div class="sub-title">
                                       url
                                    </div>
                                    <div class="text-muted">
                                        {{i.url_project}}
                                    </div>
                                </div>
                                <div class="pro-deadline m-b-15">
                                    <div class="sub-title">
                                       Username
                                    </div>
                                    <div class="text-muted">
                                        {{i.username}}
                                    </div>
                                </div>
                                <div class="pro-deadline m-b-15">
                                    <div class="sub-title">
                                       Password
                                    </div>
                                    <div class="text-muted">
                                        {{i.password}}
                                    </div>
                                </div>

                                
                               
                                <p class="m-b-5">Progress <span class="text-success float-end">{{i.completion}}%</span></p>
                                <div class="progress progress-xs mb-0">
                                    <div style="width: {{i.completion}}%" title="" data-bs-toggle="tooltip" role="progressbar"
                                        class="progress-bar bg-success" data-original-title="{{i.completion}}%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    

                   
                </div>
            </div>
            <!-- /Projects Tab -->

            <!-- Bank Statutory Tab -->
            <!-- <div class="tab-pane fade" id="bank_statutory">
               
            </div> -->
            <!-- /Bank Statutory Tab -->

        </div>



    </div>






      

        

    

           












</div>




{% endblock %}