

{% extends 'ceo/partials/base.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
			
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Projects</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Projects</li>
                    </ul>
                </div>
               
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Search Filter -->
        {% comment %} <div class="row filter-row">
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Project Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Employee Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3"> 
                <div class="form-group  select-focus">
                    <select class="select form-control floating"> 
                        <option>Select Roll</option>
                        <option>Web Developer</option>
                        <option>Web Designer</option>
                        <option>Android Developer</option>
                        <option>Ios Developer</option>
                    </select>
                   
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <a href="#" class="btn btn-success w-100"> Search </a>  
            </div>     
        </div> {% endcomment %}
        <!-- Search Filter -->
        
        <div class="row">
            {% for project in projects %}
                <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                           
                            <h4 class="project-title"><a href="{% url 'ceo:viewproject' project.id %}">{{project.projectname}}</a></h4>
                            <small class="block text-ellipsis m-b-15">
                                <span class="text-xs">Status :</span> <span class="text-lg">{{project.status}} </span>
                            </small>
                            <p class="text-muted">{{project.enquiry.details}}
                            </p>
                            <div class="pro-deadline m-b-15">
                                <div class="sub-title">
                                    Company Name:
                                </div>
                                <div class="text-muted">
                                    {{project.companyname}}
                                </div>
                            </div>
                            <div class="pro-deadline m-b-15">
                                <div class="sub-title">
                                    Client Name:
                                </div>
                                <div class="text-muted">
                                    {{project.clientname}}
                                </div>
                            </div>
                        
                            {% comment %} <p class="m-b-5">Progress <span class="text-success float-end">40%</span></p>
                            <div class="progress progress-xs mb-0">
                                <div class="progress-bar bg-success" role="progressbar" data-bs-toggle="tooltip" title="40%" style="width: 40%"></div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <!-- /Page Content -->
    
    
</div>



{% endblock %}

