

{% extends 'ceo/partials/base.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
			
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Projects</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Projects</li>
                    </ul>
                </div>
               
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Search Filter -->
        {% comment %} <div class="row filter-row">
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Project Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Employee Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3"> 
                <div class="form-group  select-focus">
                    <select class="select form-control floating"> 
                        <option>Select Roll</option>
                        <option>Web Developer</option>
                        <option>Web Designer</option>
                        <option>Android Developer</option>
                        <option>Ios Developer</option>
                    </select>
                   
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <a href="#" class="btn btn-success w-100"> Search </a>  
            </div>     
        </div> {% endcomment %}
        <!-- Search Filter -->
        
        <div class="row">
            {% for project in projects %}
                <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="dropdown dropdown-action profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_project"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_project"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                            <h4 class="project-title"><a href="{% url 'ceo:viewproject' %}">{{project.projectname}}</a></h4>
                            <small class="block text-ellipsis m-b-15">
                                <span class="text-xs">Status :</span> <span class="text-lg">{{project.status}} </span>
                            </small>
                            <p class="text-muted">{{project.enquiry.details}}
                            </p>
                            <div class="pro-deadline m-b-15">
                                <div class="sub-title">
                                    End Date:
                                </div>
                                <div class="text-muted">
                                    {{project.endingdate.date}}
                                </div>
                            </div>
                            {% for member in project.get_members %}
                            <div class="project-members m-b-15">
                                <div>Project Leader :</div>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" data-bs-toggle="tooltip" title="{{member.lead.name}}"><img alt="" src="{{member.lead.emp_profile.url}}"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="project-members m-b-15">
                                <div>Team :</div>
                                <ul class="team-members">
                                    {% for team in member.team.all %}
                                        <li>
                                            <a href="#" data-bs-toggle="tooltip" title="{{team.name}}"><img alt="" src="{{team.emp_profile.url}}"></a>
                                        </li>
                                    {% endfor %}
                                    
                                </ul>
                            </div>
                            {% endfor %}
                            {% comment %} <p class="m-b-5">Progress <span class="text-success float-end">40%</span></p>
                            <div class="progress progress-xs mb-0">
                                <div class="progress-bar bg-success" role="progressbar" data-bs-toggle="tooltip" title="40%" style="width: 40%"></div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <!-- /Page Content -->
    
    
</div>



{% endblock %}

