{% extends 'pm/partials/base.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome {{pm|capfirst}} ..!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'pm:enquiry' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">

                                <img src="{% static 'ceo/img/added_to_proposal.jpg' %}" alt="">

                            </span>
                            
                            <div class="dash-widget-info">
                                <h3 class="{% if enquirylistcount == 0 %} text-success {% else %} text-danger {% endif %}">{{enquirylistcount}}</h3>
                                <span class="{% if enquirylistcount == 0 %} text-success {% else %} text-danger {% endif %}">Proposal Requests </span>
                            </div>
                        </div>
                    </div>
                </a>


            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'pm:proposal' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">

                                <img src="{% static 'ceo/img/added_to_proposal.jpg' %}" alt="">

                            </span>
                            <div class="dash-widget-info">
                                <h3 class="{% if addedtoprop == 0 %} text-success {% else %} text-danger {% endif %}">{{addedtoprop}}</h3>
                                <span class="{% if addedtoprop == 0 %} text-success {% else %} text-danger {% endif %}">Sented Proposal </span>
                            </div>
                        </div>
                    </div>
                </a>


            </div>
            <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/proposal_accepted.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3 class="{% if billcreation == 0 %} text-success {% else %} text-danger {% endif %}">{{billcreation}}</h3>
                            <span class="{% if billcreation == 0 %} text-success {% else %} text-danger {% endif %}">Praposal Acepted </span>
                        </div>
                    </div>
                </div>

            </div> -->
            <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/advance_sented.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3 class="{% if billadvance == 0 %} text-success {% else %} text-danger {% endif %}">{{billadvance}}</h3>
                            <span class="{% if billadvance == 0 %} text-success {% else %} text-danger {% endif %}">Bill Sented</span>
                        </div>
                    </div>
                </div>

            </div> -->
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'pm:unassigneproject' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">

                                <img src="{% static 'ceo/img/unassigned_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3 class="{% if advancepaid == 0 %} text-success {% else %} text-danger {% endif %}">{{ advancepaid}}</h3>
                                <span class="{% if advancepaid == 0 %} text-success {% else %} text-danger {% endif %}">Unassigned Project</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'pm:meetings' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/enquiry_list.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3 class="{% if meetings == 0 %} text-success {% else %} text-danger {% endif %}">{{meetings}}</h3>
    
                                <span class="{% if meetings == 0 %} text-success {% else %} text-danger {% endif %}">Upcoming Meetings </span>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'pm:srs' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/enquiry_list.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3 class="{% if srs == 0 %} text-success {% else %} text-danger {% endif %}">{{srs}}</h3>

                                <span class="{% if srs == 0 %} text-success {% else %} text-danger {% endif %}">Srs View </span>
                            </div>
                        </div>
                    </div>
                </a>

            </div>


            <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/not_started.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{notstated}}</h3>
                            <span>On Scheduling </span>
                        </div>
                    </div>
                </div>

            </div> -->
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
              
                <a href="/pm/statusproject/Not Started" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/not_started.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3 class="{% if notstated == 0 %} text-success {% else %} text-danger {% endif %}">{{notstated}}</h3>
                                <span class="{% if notstated == 0 %} text-success {% else %} text-danger {% endif %}">Scheduled Projects </span>
                            </div>
                        </div>
                    </div>
                </a>
               



            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if ongoing == 0 %}
                <div class="card dash-widget" style="color: green;">
                    <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/ongoing.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{ongoing}}</h3>
                                <span>On Going </span>
                            </div>
                        </div>
                </div>
                {% else %}
                <a href="/pm/statusproject/On Going" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/ongoing.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{ongoing}}</h3>
                                <span>On Going </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
                


            </div>
           
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if delayed == 0 %}
                <div class="card dash-widget" style="color: green;">
                   <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/delayed_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{delayed}}</h3>
                                <span>Delayed Project </span>
                            </div>
                        </div>
                </div>
                {% else %}
                <a href="/pm/statusproject/Delayed" style="color: red;">
                    <div class="card dash-widget">
                       <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/delayed_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{delayed}}</h3>
                                <span>Delayed Project </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}

            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'pm:qcapprovel' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/qc.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3 class="{% if waitforqc == 0 %} text-success {% else %} text-danger {% endif %}">{{waitforqc}}</h3>
                                <span class="{% if waitforqc == 0 %} text-success {% else %} text-danger {% endif %}"> QC Project List</span>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if w4c == 0 %}
                <div class="card dash-widget" style="color: green;">
                   <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/w4c.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{w4c}}</h3>
                                <span>W4C Project </span>
                            </div>
                        </div>
                </div>
                {% else %}
                <a href="/pm/statusproject/W4C" style="color: red;">
                    <div class="card dash-widget">
                       <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/w4c.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{w4c}}</h3>
                                <span>W4C Project </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
               


            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if rework == 0 %}
                <a href="#" style="color: green;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/rework.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{rework}}</h3>
                                <span>Reworks Project </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% else %}
                <a href="/pm/statusproject/Rework">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/rework.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{rework}}</h3>
                                <span>Reworks Project </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="/pm/statusproject/Completed">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/completed_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{completed}}</h3>
                                <span>Completed Project </span>
                            </div>
                        </div>
                    </div>
                </a>
              

            </div>
            <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="/pm/statusproject/Qc">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/qc.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{waitforqc}}</h3>
                                <span>QC Project </span>
                            </div>
                        </div>
                    </div>
                </a>
               

            </div> -->
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'pm:rejectedlist' %}">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/rejected_project.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{rejected}}</h3>
                            <span>Rejected Project </span>
                        </div>
                    </div>
                </div>
                    </a>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
              
                <a href="{% url 'pm:leaverequest' %}" >
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/onscheduling.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3 class="{% if leavecount == 0 %} text-success {% else %} text-danger {% endif %}">{{leavecount}}</h3>
    
                                <span class="{% if leavecount == 0 %} text-success {% else %} text-danger {% endif %}">Leave Request </span>
                            </div>
                        </div>
                    </div>
                </a>
               
               
            </div>


        </div>

        


    </div>
    <!-- /Page Content -->

</div>



{% endblock %}