{% extends 'pm/partials/base.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome {{pm|capfirst}} ..!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/enquiry_list.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{enquirylist}}</h3>

                            <span>Enquiries list </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/added_to_proposal.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{addedtoprop}}</h3>
                            <span>Added to Praposal </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/proposal_accepted.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{billcreation}}</h3>
                            <span>Praposal Acepted </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/advance_sented.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{billadvance}}</h3>
                            <span>Advance Sented </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/unassigned_projects.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{ advancepaid}}</h3>
                            <span>Unassigned Project</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/rejected_project.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{rejected}}</h3>
                            <span>Rejected Project </span>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="row">

            <div class="col-lg-12 ">
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h3 class="card-title mb-0">Recent Enquiries</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table custom-table mb-0">
                                <thead>
                                    <tr>
                                        <th>Project Name </th>
                                        <th>Client Name</th>
                                        <th>Phone Number</th>
                                        <th>Date</th>
                                        <th>Service</th>
                                        <!-- <th class="text-end">Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                {% for enquiry in enquirylistdata %}
                                    <tr>
                                        <td>
                                            <h2><a href="">{{enquiry.projectname}}</a></h2>
                                        </td>
                                        <td>{{enquiry.clientname}}</td>
                                        <td>{{enquiry.phone}}</td>
                                        <td>{{enquiry.enquirydate.date}}</td>
                                        <td>{{enquiry.type}}</td>                                      
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'pm:enquiry' %}">View all Enquiries</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- /Page Content -->

</div>



{% endblock %}