{% extends 'pm/partials/base.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Leave Request</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Leave Request</li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- /Page Header -->



        <div class="row staff-grid-row">
             {% for i in leave %}
             <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget">
                    <div class="profile-img">
                        <a href="client-profile.html" class="avatar"><img alt=""
                                src="{{i.employee.emp_profile.url}}"></a>
                    </div>

                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="client-profile.html">{{i.employee.name}}</a></h4>
                    <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a href="client-profile.html">{{i.employee.catagory.title}}</a></h5>
                    <div class="small text-muted"><a href="#" class="btn btn-white btn-sm m-t-10"
                            data-bs-toggle="modal" onclick="ViewDetails({{i.id}})" data-bs-target="#edit_client">View Reason</a></div>
                    <a href="#" class="btn btn-white btn-sm m-t-10" onclick="AcceptDetails({{i.id}})">Accept</a>
                    <a href="#" class="btn btn-white btn-sm m-t-10" data-bs-toggle="modal"
                        data-bs-target="#delete_client"   onclick="RejectDetails({{i.id}})">Delect</a>
                </div>
            </div>
             {% endfor %}
            

        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Client Modal -->

    <!-- /Add Client Modal -->

    <!-- Edit Client Modal -->
    <div id="edit_client" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View Reason </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <ul class="meta">
                                <li><span>Leave Type :</span> <span id="type"></span></li>
                                <li><span>Applied Date & Time :</span> <span id="applied"></span> </li>
                                <li><span>From Date:</span> <span id="from"></span> </li>
                                <li><span>To Date :</span> <span id="todate"></span> </li>
                                <li><span>No of Days:</span> <span id="noof"></span></li>
                             
                            </ul>
                            <!-- <h4 class="card-title">Blockquotes</h4> -->
                            <blockquote class="blockquote">
                                <p class="mb-0">Reason</p>
                            </blockquote>
                            <blockquote >
                                <p class="mb-0" id="reason"></p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Client Modal -->

    <!-- Delete Client Modal -->
   
    <!-- /Delete Client Modal -->




    <div id="delete_client" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Rejected Reason</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                       
                        <div class="form-group">
                            <label>Reason <span class="text-danger">*</span></label>
                            <textarea class="form-control" id="rejectedreason" rows="4"></textarea>
                        </div>
                        <input type="hidden" name="" id="id">
                        
                        <div class="submit-section">
                            <button id="submitbtn" class="btn btn-primary  submit-btn">Submit</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ViewDetails(id){
        $.ajax({
            url: "/pm/viedetails/" + id,
            type: 'GET',
            
            success: function (responce) {


                // console.log(responce)
                $('#type').html(responce.value.leave_type)
                $('#applied').html(responce.value.aply_date)
                $('#from').html(responce.value.from_date)
                $('#todate').html(responce.value.to_date)
                $('#noof').html(responce.value.no_days)
                $('#reason').html(responce.value.reason)
                
            }

        })
    }


    function AcceptDetails(id){
        $.ajax({
            url: "/pm/acceptdeatils/" + id,
            type: 'GET',
            
            success: function (responce) {

                window.location.reload()
               
                
            }

        })
    }



    function RejectDetails(id){
        $.ajax({
            url: "/pm/rejectdeatils/" + id,
            type: 'GET',
            
            success: function (responce) {

                $('#id').val(responce.value.id)
               
                
            }

        })
        $('#submitbtn').click(() => {
            $.ajax({
                url: "/pm/reason",
                type: 'post',
                data: {
                    
                    'id': $('#id').val(),
                    'rejectedreason': $('#rejectedreason').val(),
                    
                },
                success: function (responce) {

                    window.location.reload()
                }


            })
        })
    }
</script>
{% endblock %}