{% extends 'pm/partials/base.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Daily View</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Project</li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-lg-12">
                <div class="project-task">
                    <ul class="nav nav-tabs nav-tabs-top nav-justified mb-0">
                        <li class="nav-item"><a class="nav-link active" href="#all_tasks" data-bs-toggle="tab"
                                aria-expanded="true">Morning</a></li>
                        <li class="nav-item"><a class="nav-link" href="#pending_tasks" data-bs-toggle="tab"
                                aria-expanded="false">Afternoon</a></li>
                        <li class="nav-item"><a class="nav-link" href="#completed_tasks" data-bs-toggle="tab"
                                aria-expanded="false">Evenging</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="all_tasks">
                            <div class="card-body">
                                <div class="tab-content pt-0">
                                    <div>

                                        {% for i in morning %}
                                        <h5 class="card-title">{{i.employee.name}}</h5>
                                        <p class="card-text">{{i.note}}.</p>

                                        <div class="text-end">
                                            <button onclick="ChangeStatus({{i.id}})" class="btn  badge-pill bg-success-light m-t-10">Checked </button>

                                        </div>
                                        {% endfor %}
                                       
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="pending_tasks">
                            <div class="card-body">
                                <div class="tab-content pt-0">
                                    <div>
                                        {% for i in afternoon %}
                                        <h5 class="card-title">{{i.employee.name}}</h5>
                                        <p class="card-text">{{i.note}}.</p>

                                        <div class="text-end">
                                            <button onclick="ChangeStatus({{i.id}})" class="btn  badge-pill bg-success-light m-t-10">Checked </button>

                                        </div>
                                        {% endfor %}
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="completed_tasks">
                            <div class="card-body">
                                <div class="tab-content pt-0">
                                    <div>
                                        {% for i in evening %}
                                        <h5 class="card-title">{{i.employee.name}}</h5>
                                        <p class="card-text">{{i.note}}.</p>

                                        <div class="text-end">
                                            <button onclick="ChangeStatus({{i.id}})" id="buttonval{{i.id}}" class="btn  badge-pill bg-success-light m-t-10">Checked </button>

                                        </div>
                                        {% endfor %}
                                      
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Content -->






</div>



<script>
     function ChangeStatus(id){
        $.ajax({
            url: "/pm/Changedailyreport/" + id,
            type: 'GET',
            
            success: function (responce) {

                // $("#buttonval",id).addClass('btn  badge-pill bg-danger-light m-t-10').removeClass('btn  badge-pill bg-success-light m-t-10');
            window.location.reload()
                
            }

        })
    }
</script>

{% endblock %}