{% extends 'accounts/partials/base.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
			
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Quatation List</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Proposal</li>
                    </ul>
                </div>
               
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th style="width: 30px;">#</th>
                                <th>Project Name </th>
                                <th>Client Name </th>
                                <th>Whatsapp  Number </th>
                                <th>Email </th>
                                <th>Date & Time </th>
                                <th>View Praposal</th>
                               
                                
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in praposallist %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td> {{ i.enquiry.projectname }}
                                    <small class="block text-ellipsis">
                                        <span class="text-muted">{{ i.enquiry.type }} </span>
                                    </small>
                                </td>
                                <td>{{ i.enquiry.clientname }}</td>
                                <td>{{ i.enquiry.whatsapp }}</td>
                                <td>{{ i.enquiry.email }}</td>
                                <td>{{ i.enquiry.enquirydate }}</td>
                                <th><a href="{{ i.praposalpdf.url }}"><i class="fa fa-download"></i> download</a></th>
                                
                                <td class="text-end">
                                    
                                    <button onclick="ChangeBill({{ i.enquiry.id }})" class="btn  badge-pill bg-success-light m-t-10">Bill Sented </button>
                                    
                                </td>
                            </tr>

                            {% endfor %}
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        
    </div>
    <!-- /Page Content -->




</div>


<script>
     function ChangeBill(id) {
        $.ajax({
            url: "/accounts/changebill",
            type: 'POST',
            data: {
                'EnquaryID': id,

            },

            success: function (responce) {

               
                window.location.reload()
            }

        })
    }
</script>

{% endblock %}