{% extends 'accounts/partials/base.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
			
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Updation List</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Proposal</li>
                    </ul>
                </div>
               
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th style="width: 30px;">#</th>
                                <th>Project Name </th>
                                <th>Client Name </th>
                                <th>Whatsapp  Number </th>
                                <th>Email </th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Proposal Pdf</th>
                                
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Leave Policy
                                    <small class="block text-ellipsis">
                                        <span class="text-muted">Web App </span>
                                    </small>
                                </td>
                                <td>Shahil khan</td>
                                <td>86876860739</td>
                                <td>shahil@gmail.com</td>
                                <td>32243</td>
                                <td>9/3/22</td>
                                <td>
                                    <input type="file" class="form-control" id="policy_upload"></td>
                                <td class="text-end">
                                    
                                    <button class="btn  badge-pill bg-success-light m-t-10">Sent </button>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Permission Policy
                                    <small class="block text-ellipsis">
                                        <span class="text-muted">Mobile App </span>
                                    </small>
                                </td>
                                <td>shahid</td>
                                <td>899827638769</td>
                                <td>shahid@gmail.com</td>
                                <td>2423423</td>
                                <td>9/3/22</td>
                                <td>
                                    <input type="file" class="form-control" id="policy_upload"></td>
                                    <td class="text-end">
                                    
                                        <button class="btn  badge-pill bg-success-light m-t-10">Sent </button>
                                        
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        
    </div>
    <!-- /Page Content -->




</div>

{% endblock %}