
{% extends "crm/base.html" %}
{% load static %}
{% block content %}


 <div class="page-wrapper">

    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title"> Create Proposal Request</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Create Proposal Request</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-12 col-md-12 col-lg-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h3>Created :: {{details.added_time}}</h3>
                        {{details.description|safe}}
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-12 col-lg-12 d-flex mt-3">
                <div class="card flex-fill">
                    <div class="card-header mt-4">
                        <h5 class="card-title mb-0">Create Project</h5>
                    </div>
                    <div class="card-body mt-3">
                        <form method="POST"   enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Project Name</label>
                                        {{form.projectname}}
                                        <!-- <input class="form-control" type="text"> -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Client Name</label>
                                        {{form.clientname}}
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Comapny Name</label>
                                        {{form.companyname}}
                                        <!-- <input class="form-control" type="text"> -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        {{form.email}}
                                        <!-- <input class="form-control" type="text"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        {{form.phone}}
                                        <!-- <input class="form-control" type="text"> -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Whatsapp Number</label>
                                        {{form.whatsapp}}
                                        <!-- <input cl/rm-control" type="text"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Referred By</label>
                                        {{form.referredby}}
                                        <!-- <input class="form-control" type="text"> -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Type</label>
                                        {{form.type}}
                                        <!-- <select class="select form-control">
                                            <option>Web</option>
                                            <option>Graphics</option>
                                        </select> -->
                                    </div>
                                </div>
                            </div>
                            
                           
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        {{form.details}}
                                        <!-- <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea> -->
                                    </div>
                                </div>
                                
                            </div>
                          
                            <div class="form-group">
                                <label>Upload Files</label>
                                {{form.files}}
                                <!-- <input class="form-control" type="file"> -->
                            </div>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}