{% extends "crm/base.html" %}
{% load static %}
{% block content %}


<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome CRM</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{projectcount}}</h3>
                            <span>Projects</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'crm:enquirylist' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa fa-file-text"></i></span>
                            <div class="dash-widget-info">
                                <h3  class="{% if enquirylist == 0 %} text-success {% else %} text-danger {% endif %}">{{enquirylist}}</h3>
                                <span  class="{% if enquirylist == 0 %} text-success {% else %} text-danger {% endif %}"> Enquiries</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'crm:crmtask' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa fa-file-text"></i></span>
                            <div class="dash-widget-info">
                                <h3  class="{% if task_count == 0 %} text-success {% else %} text-danger {% endif %}">{{task_count}}</h3>
                                <span  class="{% if task_count == 0 %} text-success {% else %} text-danger {% endif %}"> Task</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'crm:proposal' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">

                                <img src="{% static 'ceo/img/added_to_proposal.jpg' %}" alt="">

                            </span>
                            <div class="dash-widget-info">
                                <h3  class="{% if addedtoprop == 0 %} text-success {% else %} text-danger {% endif %}">{{addedtoprop}}</h3>
                                <span  class="{% if addedtoprop == 0 %} text-success {% else %} text-danger {% endif %}">Proposal Sented(Graphics)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'crm:unassigneproject' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">

                                <img src="{% static 'ceo/img/unassigned_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3  class="{% if advancepaid == 0 %} text-success {% else %} text-danger {% endif %}">{{ advancepaid}}</h3>
                                <span  class="{% if advancepaid == 0 %} text-success {% else %} text-danger {% endif %}">Unassigned Project</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-file-text"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{rejected}}</h3>
                            <span>Rejected Enquiries</span>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'crm:clientlist' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
                            <div class="dash-widget-info">
                                <h3>{{clientsCount}}</h3>
                                <span>Clients</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'crm:leaverequest' %}" >
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/onscheduling.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3 class="{% if leavecount == 0 %} text-success {% else %} text-danger {% endif %}">{{leavecount}}</h3>
    
                                <span class="{% if leavecount == 0 %} text-success {% else %} text-danger {% endif %}">Leave Request </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if Excuselist == 0 %}
                <div class="card dash-widget" style="color: green;">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/proposal_accepted.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{Excuselist}}</h3>
                            <span>Excuse </span>
                        </div>
                    </div>
                </div>
                {% else %}
                <a href=" {% url  'crm:excuseCrm' %}" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/proposal_accepted.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{Excuselist}}</h3>
                                <span>Excuse </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>

        <!-- Statistics Widget -->
        <div class="row">
            <form method = "POST" >
                {% csrf_token %}
                <div class="col-md-12 col-lg-12 col-xl-12 ">
                    <!-- {{form.description}} -->
                    <textarea id="mytextarea" name="instruction" style="min-height: 480px;" > </textarea>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12">
                    <button class="btn btn-success" type="submit" style="margin-top: 10px;margin-bottom: 10px;">SAVE</button>
                </div>
            </form>
        </div>
        <!-- /Statistics Widget -->

        <!-- pm features -->

        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Web projects</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if proposalrequested == 0 %}
                <a href="" style="color: green;">
                <div class="card dash-widget">
                    <div class="card-body">

                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/enquiry_list.jpg' %}" alt="">
                        </span>
                        <!-- <span class="dash-widget-icon"><i class="fa fa-user"></i></span> -->
                        <div class="dash-widget-info">
                            <h3>{{proposalrequested}}</h3>

                            <span>Proposal Request</span>
                        </div>
                    </div>
                </div>
            </a>
                {% else %}
                <a href="{% url 'crm:proposalRequestCrm' %}" style="color: red;">

                    <div class="card dash-widget">
                        <div class="card-body">

                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/enquiry_list.jpg' %}" alt="">
                            </span>
                            <!-- <span class="dash-widget-icon"><i class="fa fa-user"></i></span> -->
                            <div class="dash-widget-info">
                                <h3>{{proposalrequested}}</h3>

                                <span>Proposal Request</span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>
            
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if addedtoprop == 0 %}
                <div class="card dash-widget" style="color: green;">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/added_to_proposal.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{addedtoprop}}</h3>
                            <span>Added to Proposal(Web)</span>
                        </div>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'crm:proposalCrm' %}" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/added_to_proposal.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{addedtoprop}}</h3>
                                <span>Added to Proposal(Web)</span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}



            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if billcreation == 0 %}
                <div class="card dash-widget" style="color: green;">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/proposal_accepted.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{billcreation}}</h3>
                            <span>Proposal Acepted </span>
                        </div>
                    </div>
                </div>
                {% else %}
                <a href=" {% url  'crm:praposalAccountsCrm' %}" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/proposal_accepted.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{billcreation}}</h3>
                                <span>Proposal Acepted </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if billadvance == 0 %}
                <div class="card dash-widget" style="color: green;">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/advance_sented.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{billadvance}}</h3>
                            <span>Advance Follow up </span>
                        </div>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'crm:followuplistCrm' %}" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/advance_sented.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{billadvance}}</h3>
                                <span>Advance Follow up </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>
            {% comment %}
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">

                {% if billadvance == 0 %}
                <div class="card dash-widget" style="color: green;">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/advance_sented.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{billadvance}}</h3>
                            <span>Advance Sented </span>
                        </div>
                    </div>
                </div>
                {% else %}
                <a href="/projectlist/Bill Advance" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/advance_sented.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{billadvance}}</h3>
                                <span>Advance Sented </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>
            {% endcomment %}

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if advancepaidweb == 0 %}
               
                    <div class="card dash-widget" style=" color: green;">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/unassigned_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{ advancepaidweb}}</h3>
                                <span>Unassigned Project</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                <a href="{% url 'crm:unassigneprojectCrm' %}" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/unassigned_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{ advancepaidweb}}</h3>
                                <span>Unassigned Project</span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}


            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if meetings == 0 %}
               
                    <div class="card dash-widget" style=" color: green;">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/unassigned_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{ meetings }}</h3>
                                <span>Meetings</span>
                            </div>
                        </div>
                    </div>
               
                {% else %}
                <a href="{% url 'crm:meetingsCrm' %}" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/unassigned_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{ meetings}}</h3>
                                <span>Meetings</span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}


            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if srs == 0 %}
               
                    <div class="card dash-widget" style=" color: green;">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/unassigned_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{srs}}</h3>
                                <span>SRS view</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                <a href="{% url 'crm:srsCrm' %}" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/unassigned_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{srs}}</h3>
                                <span>SRS view</span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}


            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if notstated == 0 %}
                <div class="card dash-widget" style="color: green;">
                    <div class="card-body">
                        <span class="dash-widget-icon">
                            <img src="{% static 'ceo/img/not_started.jpg' %}" alt="">
                        </span>
                        <div class="dash-widget-info">
                            <h3>{{notstated}}</h3>
                            <span>On Scheduling </span>
                        </div>
                    </div>
                </div>
                {% else %}
                <a href="/crm/statusproject-crm/Not Started" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/not_started.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{notstated}}</h3>
                                <span>On Scheduling </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if ongoing == 0 %}
                <div class="card dash-widget" style="color: green;">
                    <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/ongoing.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{ongoing}}</h3>
                                <span>On Going </span>
                            </div>
                        </div>
                </div>
                {% else %}
                <a href="/crm/statusproject-crm/On Going" style="color: red;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/ongoing.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{ongoing}}</h3>
                                <span>On Going </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if delayed == 0 %}
                <div class="card dash-widget" style="color: green;">
                   <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/delayed_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{delayed}}</h3>
                                <span>Delayed Project </span>
                            </div>
                        </div>
                </div>
                {% else %}
                <a href="/crm/statusproject-crm/Delayed" style="color: red;">
                    <div class="card dash-widget">
                       <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/delayed_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{delayed}}</h3>
                                <span>Delayed Project </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}

            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if qc == 0 %}
                <div class="card dash-widget" style="color: green;">
                   <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/qc.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{qc}}</h3>
                                <span>QC Project </span>
                            </div>
                        </div>
                </div>
                {% else %}
                <a href="{% url 'crm:qcapprovelCrm' %}" style="color: red;">
                    <div class="card dash-widget">
                       <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/qc.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{qc}}</h3>
                                <span>QC Project </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
               


            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if w4c == 0 %}
                <div class="card dash-widget" style="color: green;">
                   <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/w4c.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{w4c}}</h3>
                                <span>W4C Project </span>
                            </div>
                        </div>
                </div>
                {% else %}
                <a href="/crm/statusproject-crm/W4C" style="color: red;">
                    <div class="card dash-widget">
                       <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/w4c.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{w4c}}</h3>
                                <span>W4C Project </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
               


            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                {% if rework == 0 %}
                <a href="#" style="color: green;">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/rework.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{rework}}</h3>
                                <span>Reworks Project </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% else %}
                <a href="/crm/statusproject-crm/Rework">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/rework.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{rework}}</h3>
                                <span>Reworks Project </span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="/crm/statusproject-crm/Completed">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/completed_projects.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{completed}}</h3>
                                <span>Completed Project </span>
                            </div>
                        </div>
                    </div>
                </a>


            </div>
            <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <a href="{% url 'ceo:rejectedlist' %}">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon">
                                <img src="{% static 'ceo/img/rejected_project.jpg' %}" alt="">
                            </span>
                            <div class="dash-widget-info">
                                <h3>{{rejected}}</h3>
                                <span>Rejected Project </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>

        <!-- \pmfeatures -->

    </div>
    <!-- /Page Content -->

</div>


<script src="https://cdn.tiny.cloud/1/nklzzr80nbh42fu5eby0d4ipfkv57tp61il9if12c53ie9le/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: "#mytextarea"
    });

</script>

{% endblock %}