{% extends 'ceo/partials/base.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper">
			
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Quatation List</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Proposal</li>
                    </ul>
                </div>
               
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th style="width: 30px;">#</th>
                                <th>Project Name </th>
                                <th>Client Name </th>
                                <th>Whatsapp  Number </th>
                                <th>Email </th>
                                <th>View</th>
                                <th>View Praposal</th>
                               
                                
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in praposallist %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td> {{ i.enquiry.projectname }}
                                    <small class="block text-ellipsis">
                                        <span class="text-muted">{{ i.enquiry.type }} </span>
                                    </small>
                                </td>
                                <td>{{ i.enquiry.clientname }}</td>
                                <td>{{ i.enquiry.whatsapp }}</td>
                                <td>{{ i.enquiry.email }}</td>
                                <td><button  data-bs-toggle="modal"  data-bs-target="#edit_client"onclick="DataGets({{ i.enquiry.id }})" class="btn  badge-pill bg-info-light ">View </button>
                                </td>
                                <th>


                                    {% if i.praposalpdf.url != None %}
                                    <a href="{{ i.praposalpdf.url }}"><i class="fa fa-download"></i> download</a>
            
            
                                    {% endif %}


                                 
                                </th>
                                
                                <td class="text-end">
                                    
                                    <button onclick="ChangeBill({{ i.enquiry.id }})" class="btn  badge-pill bg-success-light m-t-10">Bill Sented </button>
                                    
                                </td>
                            </tr>

                            {% endfor %}
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        
    </div>
    <!-- /Page Content -->


    <div id="edit_client" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deatils </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <ul class="meta">
                                <li><span>Project Name :</span> <span id="projectname"></span></li>
                                <li><span>Company Name :</span> <span id="companyname"></span> </li>
                                <li><span>Client Name:</span> <span id="clientname"></span> </li>
                                <li><span>Email :</span> <span id="email"></span> </li>
                                <li><span> Phone : </span> <span id="phone"></span></li>
                                <li><span> Whatsapp :</span> <span id="whatsapp"></span> </li>
                                <li><span> Refered By : </span> <span id="referredby"></span></li>
                                <li><span> Type :</span> <span id="type"></span> </li>
                             
                            </ul>
                            <!-- <h4 class="card-title">Blockquotes</h4> -->
                            <blockquote class="blockquote">
                                <p class="mb-0">Address</p>
                            </blockquote>
                            <blockquote >
                                <p class="mb-0" id="address"></p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
     function ChangeBill(id) {
        $.ajax({
            url: "/accounts/changebill",
            type: 'POST',
            data: {
                'EnquaryID': id,

            },

            success: function (responce) { 
                window.location.reload()
            }

        })
    }


    function DataGets(id){
        $.ajax({
            url: "/accounts/viedetails/" + id,
            type: 'GET',
            
            success: function (responce) {


                // console.log(responce)
                $('#address').html(responce.value.address)
                $('#companyname').html(responce.value.companyname)
                $('#projectname').html(responce.value.projectname)
                $('#clientname').html(responce.value.clientname)
                $('#email').html(responce.value.email)
                $('#phone').html(responce.value.phone)
                $('#whatsapp').html(responce.value.whatsapp)
                $('#referredby').html(responce.value.referredby)
                $('#type').html(responce.value.type)
                
            }

        })
    }
</script>


{% endblock %}