{% extends 'ceo/partials/base.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">View Enquireis</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">View Enquireis</li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- /Page Header -->

        <!-- Search Filter -->
      
        <!-- Search Filter -->

        <div class="row">

            {% for enquiry in enquirylistdata %}
            <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">

                <div class="card">
                    <a href="{% url 'ceo:viewenquriesCeo' enquiry.id %}" style="text-decoration: none; color: black;">
                        <div class="card-body text-center">
                            <!-- <div class="dropdown dropdown-action profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#edit_project"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#delete_project"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div> -->
                            <h5 class="project-title">Project Name</h5>
                            <h4 class="project-title m-b-15" style="color: #6f42c1;">{{ enquiry.projectname|upper }}</h4>
    
                            <!-- <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. When an unknown printer took a galley of type and
                                scrambled it...
                            </p> -->
                            <div class="pro-deadline m-b-15">
                                <div class="sub-title">
                                   Client Name:
                                </div>
                                <div class="text-muted">
                                    {{ enquiry.clientname }}
                                </div>
                            </div>
                            <div class="pro-deadline m-b-15">
                                <div class="sub-title">
                                    Company Name:
                                </div>
                                <div class="text-muted">
                                    {{ enquiry.companyname }}
                                </div>
                            </div>
                            <div class="pro-deadline m-b-15">
                                <div class="sub-title">
                                    Type of Project :
                                </div>
                                <div class="text-muted">
                                    {{ enquiry.type }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- /Page Content -->
</div>

{% endblock %}